<% include theme/header %>
		<h1><%= title %></h1>
		<% if (!message) { %>
			<form method="POST" action="/contact">
				<p>
					<label for="subject">Subject</label>
					<input type="text" name="subject" id="subject"></input>
				</p>
				<p>
					<label for="message">Message</label>
					<textarea name="message" id="message" cols="30" rows="10"></textarea>
				</p>
				<button>Submit</button>
			</form>
		<% } else { %>
			<%= message %>
		<% } %>
<% include theme/footer %>