<% let title = error.status + ' Error!' %>
<% include theme/header %>
	<h1>Awwwwww, Sheeit...</h1>
	<h2><%= error.status %> - <%= message %></h2>
	<pre><%= error.stack %></pre>
<% include theme/footer %>
