<% include theme/header %>
    <h1><%= title %></h1>
    <form method="POST" action="/register">
        <p>
			<label for="alias">Alias:</label>
			<input type="text" id="alias" name="alias">
        </p>  
        <p>
			<label for="email">E-Mail:</label>
			<input type="text" id="email" name="email">
		</p>
        <p>
			<label for="password">Password:</label>
			<input type="text" id="password" name="password">
		</p>
        <p>
			<label for="confirmPassword">Confirm Password:</label>
			<input type="text" id="confirmPassword" name="confirmPassword">
		</p>
        <button>Create Account</button>
    </form>
<% include theme/footer %>