$space: 20px;

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #666;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #999;
}
header {
  text-align: center;
  box-shadow: 0 3px rgba(0,0,0,0.5);
  padding: 0 10px;
  background: #fff;
  a {
    display: inline-block;
    padding: 5px 10px;
    border-left: 1px solid #eee;
    border-bottom: 3px solid transparent;
    &:first-child {
      border: none;
    }
    &:link, &:visited {
      color: #999;
      text-decoration: none;
    }
    &:hover, &:visited:hover {
      color: rgba(0, 100, 160, 0.85);
      border-bottom: 3px solid rgba(purple, 0.5);
    }
  }
  .user {
    float: left;
    padding: 10px;
  }
  .menu {
    display: inline-block;
  }
}
footer {
  min-height: 100px;
  color: #ccc;
  font-size: 0.85em;
  box-shadow: inset 0 3px rgba(0,0,0,0.1);
  padding: 20px 0;
  background: #999;
}
form {
  display: block;
  font-size: 1.15em;
  padding: 20px;
  margin: 0 auto;
}
label {
  display: block;
  font-weight: bold;
  line-height: 2em;
}
input[type=text],
input[type=email],
input[type=password] {
  font-size: 1em;
  line-height: 2.25;
  padding: 0 10px;
  border: 1px solid #ccc;
  
}
button {
  color: #fff;
  font-size: 1em;
  line-height: 2.5;
  padding: 0 20px;
  background: #999;
  border: none;
  border-radius: 5px;
}
h1 {
  color: #333;
  margin: 10px 0;
}

#mainContainer {
  padding: 20px;
  background: rgba(255,255,255,0.85);
}
#profile {
  width: 100%;
  max-width: 65%;
  text-align: left;
  h3 {
    font-weight: normal;
    margin: 20px 0 0;
  }
  a {
    &:link, &:visited {
      color: #999;  
      text-decoration: none;
    }
    &:hover, &:visited:hover {
      color: rgba(0,100,160,0.85);
      transition: 0.35s ease-in;
    }
  }
}
.group {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.tag {
  display:inline-block;
  color:#999;
  font-size:0.85em;
  font-weight: 500;
  // text-shadow: 1px 1px 0 rgba(#fff,0.85);
  text-transform: uppercase;
  background: rgba(0,0,0,0.075);
  line-height: 1;
  padding: $space/4 $space/3;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  // Chrome: 'Active' outline
  outline-color: #ccc; 
}

#devTools {
  position: fixed;
  top: $space;
  right: $space;
  width: 100px;
  height: 60px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-radius: $space/4;
  background-color: rgba(0,0,0,0.5);
  .viewportSize {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }
}