body {
  color: #666;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 50px;
}
form {
  display: block;
  font-size: 1.15em;
  padding: 20px;
  margin: 0 auto;
}
label {
  display: block;
  font-weight: bold;
}
input[type=text],
button {
  font-size: 1em;
  line-height: 2.25;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  color: #fff;
  line-height: 2.5;
  padding: 0 20px;
  background: #999;
}
h1 {
  color: #333;
}
a {
  color: #00B7FF;
}
  
