</div>
<footer>
	&copy; <%= new Date().getFullYear(); %> Untitled Website, LLC
	<% if (email) { %>
	<p><%= email %></p>
	<% } %>
</footer>
<script defer src='/js/script.min.js'></script>
</body>
</html>