<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <base href="/">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header class="group">
      <div class="user"><b><%= alias %></b></div>
      <div class="menu group">
        <ul>
          <li><a href="/">Home</a></li>
          <% if (!currentUser) { %>
          <li><a href="/login">Log In</a></li>
          <li><a href="/register">Register</a></li>
          <% } else { %>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/logout">Log Out</a></li>
          <% } %>
        </ul>
      </div>
    </header>
    <div id="mainContainer">  
