<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <base href="/">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <div id="nav" class="group">
        <div class="logo">Untitled</div>
        <% if (currentUser) { %>
          <div class="user"><b><%= alias %></b></div>
        <% } %>
      </div>
      <div class="menu">
        <ul class="group">
        <!--
        --><li><a href="/">Home</a></li><!--
        <% if (!currentUser) { %>
        --><li><a href="/login">Log In</a></li><!--
        --><li><a href="/register">Register</a></li><!--
        <% } else { %>
        --><li><a href="/profile">Profile</a></li><!--
        --><li><a href="/contact">Contact</a></li><!--
        --><li><a href="/logout">Log Out</a></li><!--
        <% } %>
        -->
        </ul>
      </div>
    </header>
    <div id="mainContainer">
      <% if (title === "Home") { %>
      <div id="showcase">
        <div class="wrapper">
          <div id="carousel" class="group"></div>
        </div>
      </div>
      <% } %>
      <div class="wrapper">
        <div class="page">
          <div class="content">